.yes, .no {
    border-style: solid;
    border-color: grey;
    font-size: 28px;
    font-family: helvetica, "times new roman", sans-serif;
}

.yes {
    color: white;
    background-color: black;
}

.no {
    background-color: yellow;
}